.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;

}

.logo {
  width: 228px;
  height: 32px;

}
.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;

}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  /* margin: auto; */
  margin-left: 64px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.header__subtitle{
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 6;
}
.link {
  text-decoration:none;
  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}


.description {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;


}

.two-columns {
  display: flex;
  width: 80%;
}

.two-columns__brief {
  min-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  width: 80%;
  min-width: 784px;
  min-height: 100%;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-between;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__selection {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__margin-bottom {
  margin-bottom: 30px;
}

.two-columns__no-margin-bottom {
  margin-bottom: 0;
}


.digits {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.section-title{
width: 60%;
margin: auto;
margin-top: 100px;
margin-bottom: 20px;
text-align: center;
line-height: 1.15;
font-size: 60px;
font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: auto; /* !!!!!!!!!!!!! */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  height: 100%;
}

.table__heading {
  width: 250px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  width: 250px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_indent {
  margin-top: 20px;
  margin-bottom: 0;
}



.feynman {
  margin-top: 100px;
  display: flex;
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  flex-direction: column;

}
.feynman__title {
  width: 648px;
  margin: 100px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 5;
}
.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 5;
}
.feynman__link {
  position:absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__img {
  width: 867px;
  height: 637px;
  background-image: url(../images/feynman.png);
  position:absolute;
  left: 0;
  bottom: 0;
}



.kaufman {
  background-color: #1f1f1f;
  padding-top: 100px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  color: white;
  width: 60%;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle_theme_dark {
  color: white;
  margin-top: 20px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  margin-top: 80px;
  height: 100%;
  z-index: 5;
}
.table__heading_theme_dark {
  width: 200px;
  color: white;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text_theme_dark {
  width: 200px;
  margin-bottom: 0;
  margin-top: 20px;
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
 }
.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  }

.footer {

  min-height: 350px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  color: white;
  margin: 60px auto 40px;
  display: flex;
  position: relative;
}

.footer__column_content_copyright {
  color: white;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);

}
.footer__author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

}
.footer__column_content_info {
  list-style-type: none;
  padding-left: 0;
}
.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}


.footer__column_content_social {
  margin-left: 0;
  position: absolute;
  right: 0;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  display: flex;
  max-height: 100%;
}
.footer__social_icon {
  display: flex;
  max-height: 100%;
  margin-bottom: 16px;
}
.footer__column-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: white;
  text-decoration:none;
  list-style-type: none;
}
.footer__column-links {
  max-width: 100%;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
