.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  margin-left: 64px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.header__subtitle{
  margin: 0;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 6;
}

.link {
  text-decoration:none;
  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  object-fit:cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.section-title{
width: 60%;
margin: auto;
margin-top: 0;
margin-bottom: 20px;
text-align: center;
line-height: 1.15;
font-size: 60px;
font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: auto; /* !!!!!!!!!!!!! */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  max-width: 250px;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  max-width: 250px;
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  box-sizing: border-box;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  margin-top: 100px;
  display: flex;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  flex-direction: column;
}

.feynman__title {
  max-width: 648px;
  margin: 100px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 5;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 5;
}

.feynman__link {
  position:absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  color: #FFFFFF;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  color: #FFFFFF;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 5;
}

.table__heading_theme_dark {
  width: 200px;
  color: #FFFFFF;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  width: 200px;
  margin-bottom: 0;
  margin-top: 20px;
  color: #FFFFFF;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
 }

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  object-fit: cover;
}
/* !!!!! */
.footer__columns {
  width: 90%;
  color: #FFFFFF;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__column_content_copyright {
  color: #FFFFFF;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  color: #FFFFFF;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_content_social {
  color: #FFFFFF;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-links {
  padding: 0;
  margin: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  text-decoration:none;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}


